<ion-content>
    <ion-item-group *ngFor="let status of LKP221StatusLista">
        <ion-item-divider>
            <ion-label>
                {{ status.StatusOcorrencia }}
            </ion-label>
        </ion-item-divider>
        <ion-item-sliding (ionDrag)="AlterarIcoAcaoLateral()" *ngFor="let ocorrencia of CAD231OcorrenciasList">
            <ion-item *ngIf="ocorrencia.IdStatusOcorrencia == status.IdStatusOcorrencia" lines="full" detail
                [detailIcon]="iconIsForWard ? 'arrow-forward' : 'arrow-back' ">
                <ion-label>
                    <h3>{{ocorrencia.IdStatusOcorrencia == status.IdStatusOcorrencia ? ocorrencia.DescricaoSolicitacao : '' }}
                    </h3>
                </ion-label>
            </ion-item>
            <ion-item-options>
                <ion-item-option color="medium">
                    <ion-icon name="trash"></ion-icon>
                </ion-item-option>
                <ion-item-option color="light" (click)="AbrirAndamentos(ocorrencia.IdSolicitacaoOCorrencia)">
                    <ion-icon name="swap"></ion-icon>
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-item-group>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>