ion-label, ion-text, ion-title, ion-item, ion-card-title, h1, h2, h3, h4, h5, a, p{
    font-family: 'Quicksand', sans-serif!important;
  }
ion-fab-button{
    --background:#A7CB00;
    --ripple-color: green;
}

ion-card-content {
    font-size: 10px;
}