<ion-buttons color="none" slot="end" size="medium" (click)="VisualizarNotificacoes()" class="btn-margin-0">
  <ion-icon name="ios-notifications" size="large" color="{{ QuantidadeNotificacoes > 0 ? 'warning' : 'light'}}"></ion-icon>
  <ion-badge *ngIf="QuantidadeNotificacoes > 0" color="danger" class="notificacoes">{{ QuantidadeNotificacoes }}</ion-badge>
</ion-buttons>