<ion-tabs>

  <ion-tab-bar slot="document">
    <ion-tab-button tab="documentos">
      <ion-icon src="../../assets/icon/ico-documentos.svg"></ion-icon>
      <ion-label>Documentos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home">
      <ion-icon src="../../assets/icon/ico-home3.svg"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="meu-condominio">
      <ion-icon src="../../assets/icon/ico-condominio3.svg" size="small"></ion-icon>
      <ion-label>Meu Condomínio</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
