ion-label, ion-text, ion-title, ion-item, ion-card-title, h1, h2, h3, h4, h5, a, p{
    font-family: 'Quicksand', sans-serif!important;
  }
ion-tab-button {
    --color-selected:#A7CB00!important;
}

ion-icon {
    font-size: 20px;
}