ion-label, ion-text, ion-title, ion-item, ion-card-title, h1, h2, h3, h4, h5, a, p{
    font-family: 'Quicksand', sans-serif!important;
  }
ion-segment-button {
    --background: none;
    --transition:1.4s;
    ion-label{
        font-size: 10px;
    }
    ion-icon {
        font-size: 20px;

    }

}
