<app-header [titulo]='tituloHeader'></app-header>
<ion-content class="ion-no-padding">
    <ion-toolbar>
        <ion-segment>
            <ion-segment-button value="ocorrencias" checked (ionSelect)="segmentButtonClicked($event)">
                <ion-icon src="../../../assets/icon/ico-ocorrencia5.svg"></ion-icon>
                <ion-label>Ocorrências</ion-label>
            </ion-segment-button>
            <ion-segment-button value="agenda" (ionSelect)="segmentButtonClicked($event)">
                <ion-icon src="../../../assets/icon/ico-calendario4.svg"></ion-icon>
                <ion-label>Agenda</ion-label>
            </ion-segment-button>
            <ion-segment-button value="faturas" (ionSelect)="segmentButtonClicked($event)">
                <ion-icon src="../../../assets/icon/ico-fatura2.svg"></ion-icon>
                <ion-label>Faturas</ion-label>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
    <app-ocorrencias *ngIf="isOcorrencia"></app-ocorrencias>
    <app-agenda *ngIf="isAgenda"></app-agenda>
    <app-faturas *ngIf="isFatura"></app-faturas>
</ion-content>
