// @font-face {
//     font-family: 'BASTAO';
//     src: url('../fonts/Quicksand-Regular.ttf');
//     font-weight: 200;
//     font-style: normal;
//   }
//   @font-face {
//     font-family: 'BASTAO';
//     src: url('../fonts/Quicksand-Medium.ttf');
//     font-weight: 200;
//     font-style: normal;
//   }
//   @font-face {
//     font-family: 'BASTAO';
//     src: url('../fonts/');
//     font-weight: 200;
//     font-style: normal;
//   }
//   @font-face {
//     font-family: 'BASTAO';
//     src: url('../fonts/Quicksand-Bold.ttf');
//     font-weight: 200;
//     font-style: normal;
//   }