<ion-content padding>
  <ion-title color="light">Minha Conta</ion-title>
  <div class="main">
    <div class="child div-icone">
      <ion-img src="../../../assets/img/icone-usuario.png"></ion-img>
    </div>
    <div class="child">
      <ion-item>
        <ion-icon name="person"></ion-icon>
        <ion-input type="text" placeholder="Login" name="email" [(ngModel)]="login"></ion-input>
      </ion-item>
      <ion-toggle color="primary" #toggle></ion-toggle>
      <ion-item>
        <ion-icon name="lock"></ion-icon>
        <ion-input [type]="(toggle.checked ? 'text' : 'password')"  placeholder="Senha" name="senha" [(ngModel)]="senha"></ion-input>
      </ion-item>
      <a href="#">Esqueceu sua senha ?</a>
    </div>
    <div class="child">
      <ion-button color="primary" type="submit" Expand="full" class="foo-button mdc-button" (click)="Logar()">Logar</ion-button>
    </div>
  </div>
</ion-content>