
  
  ion-label, ion-text, ion-title, ion-item h1, h2, h3, h4, h5, a{
    font-family: 'Quicksand', sans-serif!important;
}
  ion-content{

    .div-icone {
        margin: 4% auto 6% auto;
    }

    --background:url(../../../assets/img/bg-login.jpg) no-repeat center center fixed; 
    background-size: 100% 100%;
   
    ion-input {
        --placeholder-color:#0f0f0f;
        margin-left: 15px;
      }
      ion-title{
        
        margin-top: 30px;
        text-align: center;
        font-size: 30px;
        margin-bottom: 20px;
      }
      ion-toggle{
        float: right;
      }
      
      ion-icon{
        color: #ccc;
      }
      
      .main{
        background-color: white;
        display: flex;
        flex-direction: column;
        height: 380px;
        align-items: center;
        text-align: center;
        -webkit-border-radius: 21px;
        -moz-border-radius: 21px;
        border-radius: 7px;
        opacity: .9;
      }
      
      div.child{
        width: 88%;
        text-align: center;
      }
      
      div.child a{
        text-decoration: none;
        text-align: right;
        font-size: 12px;
        color: #0f0f0f;
        float: right;
        margin-top: 5px;  
        }
      
        ion-img{
          margin:auto;
          width: 60px;
      
        }
      
      ion-button {
        margin-top: 15px;
      }


  }
  
  