<ion-app>
  <ion-menu contentId="content1" side="start" swipe-gesture="false">
    <ion-header color="light">
      <ion-toolbar>
        <ion-item class="item-cabecalho-menu" lines="full">
          <ion-avatar class="avatar" slot="start">
            <!-- <ion-img *ngIf="usuarioLogado.nomeArquivoFoto" src="{{usuarioLogado?.nomeArquivoFoto}}"></ion-img> -->
            <ion-img *ngIf="!usuarioLogado?.nomeArquivoFoto" src="../../../assets/img/img-user-padrao-homem.jpg">
            </ion-img>
          </ion-avatar>
          <ion-label color="medium" size="small">{{ (usuarioLogado ? usuarioLogado?.NomeUsuario : "Carregando...")}}
          </ion-label>
        </ion-item>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <div *ngFor="let p of pages">
        <ion-item-divider color="light">
          <ion-label>
            {{ p.title }}
          </ion-label>
        </ion-item-divider>
        <ion-menu-toggle>
          <ion-item *ngFor="let sub of p.childrens" [routerLink]="sub.url" routerDirection="root" (click)="sub.click ? sub.click() : ''"
            routerLinkActive="active" lines="full">
            <ion-icon [src]="sub.urlIcon" slot="start" ></ion-icon>
            <ion-label class="nome-menu">
              {{ sub.title }}
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </div>
      <ion-menu-toggle>
        <ion-item lines="full" color="medium">
          <ion-img src="../assets/img/logo-btor.png" style="margin: auto;"></ion-img>
        </ion-item>
      </ion-menu-toggle>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="content1" main></ion-router-outlet>
</ion-app>
