<app-header [titulo]="tituloHeader"></app-header>
<ion-content>
        <ion-list class="ion-no-padding">
            <ion-item *ngFor="let notificacao of CAD666Notificacoes" [class.notificacaoNaoVisualizada]="!notificacao.IsConteudoVisualizado" lines="full" >
               <ion-icon slot="start" src="../../../assets/icon/ico-notification.svg" *ngIf="!notificacao.IsConteudoVisualizado"></ion-icon>
               <ion-icon slot="start" src="../../../assets/icon/ico-notv.svg" *ngIf="notificacao.IsConteudoVisualizado"></ion-icon>
                <ion-text (click)="GoDestinoNotificacao(notificacao.RotaNotificacao, notificacao.IdNotificacao)">
                    <h2 class="txt-notificacao">{{notificacao.TextoNotificacao}}</h2>
                    <h3 class="data-notificacao">{{notificacao.DataNotificacao | date : 'dd/MM/yyy'}}</h3>
                </ion-text>
            <ion-icon src="../../../assets/icon/excluir-ico.svg" slot="end" size="small" (click)="DeleteNotificacao(notificacao.IdNotificacao)"></ion-icon>
            </ion-item>
        </ion-list>
</ion-content>