ion-label, ion-text, ion-title, ion-item, ion-card-title, h1, h2, h3, h4, h5, a, p{
    font-family: 'Quicksand', sans-serif!important;
  }
.notificacaoVisualizada{
    --background: transparent;
}
.notificacaoNaoVisualizada{
    --background: #F4F5F8;
}
.txt-notificacao{
font-size: 15px;
}
.data-notificacao{
font-size: 10px;
}