ion-label, ion-text, ion-title, ion-item, ion-card-title, h1, h2, h3, h4, h5, a, p{
    font-family: 'Quicksand', sans-serif!important;
  }
.data-vencimento{
    font-size: 11px;
    
}
.valor-fatura{
    font-size: 13px;
    color: green;
}

.txt-btn{
    font-size: 7px;
    color:black;
}