<ion-content>
        <!-- <button ion-button (click)="openWithSystemBrowser('https://www.techiediaries.com')">Open with System browser</button>
        <button ion-button (click)="openWithInAppBrowser('https://www.techiediaries.com')">Open with In App browser</button>
        <button ion-button (click)="openWithCordovaBrowser('https://www.techiediaries.com')">Open with Cordova browser</button> -->
    <ion-card *ngFor="let fatura of MOV101FaturasList">
        <ion-card-header class="ion-no-padding">
            <ion-grid class="ion-no-padding">
                <ion-row>
                    <ion-col size="2"></ion-col>
                    <ion-col size="8" class="ion-margin-top">
                        <ion-card-title>
                            <ion-title class="ion-text-center">
                                {{ GetStatusFaturaAtual(fatura.IdStatusFatura) }}
                            </ion-title>
                        </ion-card-title>
                    </ion-col>
                    <ion-col size="2">
                        <ion-buttons color="none" (click)="shareWhatsApp()" class="ion-no-margin">
                            <ion-icon src="../../../assets/icon/ico-compartilhar.svg" size="small" slot="end"
                                class="ion-no-padding"></ion-icon>
                        </ion-buttons>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <ion-card-subtitle class="ion-text-center">
                <ion-text>
                    <h2 class="data-vencimento ion-no-margin">Vencimento dia
                        {{fatura.DataVencimento | date : 'dd/MM/yyyy'}}
                    </h2>
                    <h3 class="valor-fatura">RS {{fatura.ValorTotal}}</h3>
                </ion-text>
            </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content class="ion-no-padding">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-3 p-2">
                        <ion-button color="medium" fill="outline" (click)="AbrirFatura(fatura.ChaveBoletoWeb, fatura.IdCliente)">
                            <ion-icon src="../../../assets/icon/bar-code.svg" ></ion-icon>
                        </ion-button>
                    </div>
                    <div class="col-3 p-2">
                        <ion-button color="medium" fill="outline">
                            <ion-icon src="../../../assets/icon/ico-invoice.svg"></ion-icon><br />
                        </ion-button>
                    </div>
                    <div class="col-3 p-2">
                        <ion-button color="medium" fill="outline" (click)="CopiarAreaTransferencia()">
                            <ion-icon src="../../../assets/icon/ico-copy.svg"></ion-icon><br />
                        </ion-button>
                    </div>
                </div>
            </div>

        </ion-card-content>
    </ion-card>

</ion-content>