<app-header [titulo]="tituloHeader ? tituloHeader : 'Carregando...'"></app-header>
<ion-content>
  <ion-card class="notice-card" *ngFor="let propaganda of CAD229List">
    <ion-img src="http://177.101.149.101/CONDOMINIO/upload/banner_promocional/prov_{{propaganda.IdProvedor}}/{{propaganda.NomeArquivo}}"></ion-img>
    <ion-card-header>
      <ion-card-subtitle class="ion-text-center">
        <ion-icon name="paper" size="large"></ion-icon>
      </ion-card-subtitle>
      <ion-card-title class="ion-text-center">{{propaganda.TituloPropaganda}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{propaganda.DescricaoPropaganda}}</p>
    </ion-card-content>
  </ion-card>
  <ion-card class="notice-card" *ngIf="CAD229List?.length == 0">
      <ion-icon src="../../../assets/icon/ico-propaganda.svg"></ion-icon>
      <ion-card-header>
        <ion-card-subtitle class="ion-text-center">
          <ion-icon name="paper" size="large"></ion-icon>
        </ion-card-subtitle>
        <ion-card-title class="ion-text-center">Nenhuma propanda cadastrada</ion-card-title>
      </ion-card-header>
    </ion-card>
  <!-- <ion-card class="notice-card" *ngIf="IsSemNet">
      <ion-icon src="../../../assets/icon/no-wifi.svg"></ion-icon>
      <ion-card-header>
        <ion-card-subtitle class="ion-text-center">
          <ion-icon name="paper" size="large"></ion-icon>
        </ion-card-subtitle>
        <ion-card-title class="ion-text-center">Você está desconectado</ion-card-title>
      </ion-card-header>
    </ion-card> -->
</ion-content>