ion-label, ion-text, ion-title, ion-item, ion-card-title, h1, h2, h3, h4, h5, a, p{
  font-family: 'Quicksand', sans-serif!important;
}
.notice-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}
