<app-header [titulo]="tituloHeader"></app-header>

<ion-content>
    <ion-grid>
        <ion-row class="align-items-start">
            <ion-col size="8">
                <ion-img src="../../../assets/img/logo.png"></ion-img>
            </ion-col>
        </ion-row>
        <ion-row class="ion-margin-top">
            <ion-col>
                <ion-text>
                    <u>Qualquer dúvida e/ou reclamações:</u>
                    <small>
                        <p>Central Btor Soluçoes Computacionais Cuiabá: (65)3685-8085</p>
                        <p>suporte@btor.com.br</p>
                    </small>
                </ion-text>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>