<app-header [titulo]="tituloHeader"></app-header>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let documento of CAD228ArquivoList" (click)="OpenDocumento()" lines="full" color="light">
            <ion-icon src="../../../assets/icon/ico-googledocs.svg" slot="start"></ion-icon>
            <ion-label text-wrap class="lbl-descricao">{{documento.Descricao}}</ion-label>
        </ion-item>
    </ion-list>
</ion-content>