ion-label, ion-text, ion-title, ion-item h1, h2, h3, h4, h5, a{
  font-family: 'Quicksand', sans-serif!important;
}
ion-toolbar{
    --background:#A7CB00;
    ion-menu-button{
      --color: white;
    }
    ion-item {
      --background:#A7CB00;
    }
  }
  
  