<ion-header class="ion-no-padding">
  <ion-toolbar class="toolbar-header">
    <ion-item lines="none" class="ion-no-margin">
      <ion-buttons slot="start" class="ion-no-margin">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-label color="light" class="lbl-msg-saudacao">{{titulo}}</ion-label>
      <app-notificacoes></app-notificacoes>
    </ion-item>
  </ion-toolbar>
</ion-header>